POSTGRES_DB=nuxora
POSTGRES_USER=nuxora
POSTGRES_PASSWORD=SUA-SENHA
DATABASE_URL=postgresql://nuxora:SUA-SENHA@nuxora-postgres:5432/nuxora
DISCORD_BOT_TOKEN=
DISCORD_BOT_PERMISSIONS=
DISCORD_CLIENT_ID=
#ADMIN_USER=admin
#ADMIN_PASSWORD=
BOT_COLOR=#8B0000
TWITCH_CLIENT_ID=
TWITCH_CLIENT_SECRET=
TWITCH_CHECK_INTERVAL_SECONDS=300
